# --- Core Flask Framework ---
Flask==2.3.2
Flask-SQLAlchemy==3.0.5
Flask-CORS==3.0.10

# --- Authentication & Security ---
Flask-Login==0.6.3
Flask-JWT-Extended==4.4.4

# --- API ---
Flask-RESTful==0.3.10

# --- Database ---
Flask-Migrate==4.0.4
psycopg2-binary==2.9.11 # For PostgreSQL

# --- Utilities ---
python-dotenv==1.0.0
setuptools==80.9.0
